body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Allow Cesium UI elements to display properly */
.cesium-viewer-toolbar, .cesium-viewer-animationContainer, .cesium-viewer-timelineContainer, 
.cesium-viewer-bottom, .cesium-viewer-fullscreenContainer {
  display: block !important;
}

/* Make sure the Cesium canvas fills its container */
.cesium-widget, .cesium-widget canvas {
  width: 100% !important;
  height: 100% !important;
  touch-action: none;
}
